.footer_swiper,
.home-controller,
.home-controlled,
.teams-swiper_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper,
.home-controller_swiper-wrapper,
.home-controlled_wrapper,
.hero-swiper_bottom-image_swiper-wrapper,
.hero-swiper_background-swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}

.footer_swiper-wrapper {
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.footer_swiper_overlay {
  position: absolute;
  z-index: 49;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 50;
}

// Hero Controller
// .home-controller_swiper-slide .hero-swiper_controller-icon {
//   width: 2.5rem;
//   height: 2.5rem;
// }
// .home-controller_swiper-slide.swiper-slide-active .hero-swiper_controller-icon {
//   width: 3.5rem;
//   height: 3.5rem;
// }

.swiper-slide.is-home-controller.swiper-slide-active p {
  font-weight: 600;
}

// Sponsor Swiper
.hero_swiper_sponsors-swiper .swiper-wrapper {
  transition-timing-function: linear;
}

// Background Swiper Home
.swiper-slide.is-home-background,
.hero-swiper_bottom-image_slide.swiper-slide {
  transition-property: opacity;
}

// Teams Swiper Teamseiten
.swiper-wrapper.is-teams {
  flex-flow: row;
}

.teams-swiper_container
  .swiper-slide.is-teams-swiper:not(.swiper-slide-active) {
  pointer-events: none;
}
